.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}
.card{

}
.card-image{
    width: 100%;
    display: block;
}
.card-content{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
}

