* {font-family: 'Roboto', sans-serif;}

header {
    background-image: url(/img/4ab722589c23f28fc9faf570069c5f998b74a114.jpg);
    background-position: 50%;
    background-size: cover;
    padding-bottom: 10px;
    padding-top: 20px;
    position: relative;
    
  
    
 }
 

 .left-column{  
    display: flex;
    text-align:center ;
    background-size: contain;
    position: absolute;
    top: 8px;
    right: 16px;

}
img{
    
    display: flex;
    position: relative;
    top: 8px;
    left: 16px;  
    max-width: 100%;
    
}


 .site-nav-item {
    text-align:center ;
    background-size: contain;
    padding-bottom: 10px;
    padding-top: 10px;

}
.tittle {
    color:rgb(229, 226, 226);
    font-size: 4rem;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
}
div{
    color:rgb(229, 226, 226) ;
    text-align:center ;
    background-size: contain;
    padding-bottom: 10px;
    padding-top: 10px;
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    width: 100px;
    color: rgb(229, 226, 226);
    
}
nav{
    color: rgb(229, 226, 226);
    text-align: left;
    list-style-type: none
}

h4{
    text-align: center;
    color: #e6e3e3;
}

h3{
   text-align: center;
}

h1 {
   
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    
}

h2{
    color: rgb(8, 8, 8);
    text-align: left;
    font-family: sans-serif;
    margin-bottom: 10%;
    padding-top: 25px;
}

p {
    color: rgb(8, 8, 8);
    text-align: left;
    font-family: sans-serif;
    margin-bottom: 10%;
    padding-bottom: 10px;

    
     
}

.button {
    border-radius: 5px;
    border: 1px solid ;
    padding: 7px rgb(229, 226, 226) ; 
    background-color: transparent;
    color: rgb(209, 209, 209);
    position: absolute;
    bottom: 31px;
    right: 16px;

}
.site-nav-item {

    display: inline;
    list-style-type: none;
    text-decoration: none;
    float: right;
    color: #ece1e1;
    padding: 5px 5px;
    

}

#IMG_1 {
    block-size: 30px;
    border-end-end-radius: 100%;
    border-end-start-radius: 100%;
    border-start-end-radius: 100%;
    border-start-start-radius: 100%;
    box-sizing: border-box;
    cursor: pointer;
    width: 30px;
    margin-bottom: -4%;
   
    
}

.cards {
    margin: 0 auto;
    max-width: 1000px; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex-wrap: wrap;

} 


 .card{
    max-width: 850px;
    justify-content: space-between;
} 

.cards {

display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}


.card-image{
    width: 100%;
    display: block;
   
}
.card-content{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    
}


.container{
    background-color: black;
    padding: 30px 5px;
    
}

.site-foot-nav-right{
    display: inline;
    float: right;
    padding: 5px 5px;
    column-gap: 20px;
}

.card-info{
    padding: 3px 20px;
    text-align: right;
    color: black;
    
}

.card-link{
    display: inline;
    float: left;
    padding: 2px 60px;
    color: black;
   
}